/* MENU */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 5px;
        right: 35px;
    }
}

.icon {
    width: 50px;
    height: 50px;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

/* NAV */


/* ABOUT */

.container__about{
    width: 80%;
    margin: auto;
}

article{
    margin: auto;
    width: 30%;
}

.about__section{
    display: flex;
}

.main__nav li {
    list-style-type: none;
}

.main__nav li a {
    text-decoration: none;
}

/* CONTACT */

.container__contact {
    width: 80%;
    margin: auto;
}

h1,
h3 {
    text-align: center;
}

.form__contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px;
}

.input {
    margin-top: 5px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 12px;
    border: none;
    background: #c5c3c9;
    opacity: 50%;
}

.comment {
    border: none;
    background: #c5c3c9;
    opacity: 50%;
    border-radius: 12px;
}

.btn_submit {
    margin: 30px auto;
    width: 150px;
    height: 32px;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer{
    text-align: center;
}